<footer>
  <div class="footer-container">
    <div class="col-one">
      <h4>Meow</h4>
      <nav>
        <ul>
          <li><a class="link"  href="">Nosotros</a></li>
          <li><a class="link"  href="/#productos">Productos</a></li>
          <li><a class="link"  href="/#customers">Clientes</a></li>
          <li><a class="link"  href="/login">Login</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-two">
        <h4>Contacto</h4>
        <nav>
          <ul>
            <li><a class="link" href="tel:0123-456-789">0123-456-789</a></li>
            <li><a class="link" href="mailto: meow@meow.com">¡Escribinos!</a></li>
          </ul>
        </nav>

        <div class="col-three">
          <nav>
            <ul>
              <li><a href="https://www.twitter.com/" target="_blank"><img src="/images/twitter.png" alt=""></a></li>
              <li><a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.png" alt=""></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><img src="/images/instagram.png" alt=""></a></li>
              <li><a href="/#portada"><img src="/images/up-arrow.png" alt=""></a></li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</footer>