<footer>
  <div class="footer-container">
    <div class="col-one">
      <h4>Meow</h4>
      <nav>
        <ul>
          <li>Nosotros</li>
          <li>Productos</li>
          <li>Clientes</li>
          <li>Login</li>
        </ul>
      </nav>
    </div>

    <div class="col-two">
        <h4>Contacto</h4>
        <nav>
          <ul>
            <li><a href="tel:0123-456-789">0123-456-789</a></li>
            <li><a href="mailto: meow@meow.com">Escribinos!</a></li>
          </ul>
        </nav>
    </div>

  </div>
</footer>