<header>
  <a href="/" class="logo" title="meow home">
    <img src="/images/logo.svg" alt="logo de meow" width="80" height="28">
  </a>
  <input id="nav-toggle" type="checkbox" class="nav-toggle">

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>