<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head', {pageTitle: 'Meow!'}); %>
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
  <%- include('../partials/header') %>
  <main>
    <div class="small-container single-product">
      <div class="row">
        <div class="col-2">
          <img src="/images/food/meat.jpeg" width="100%">
        </div>
        <div class="col-2">
          <h1>Carne</h1>
          <p>Meow - El mejor alimento</p>
          <h4>$500.00</h4>
          <select>
            <option>Edad de tu mascota</option>
            <option>Cachorro</option>
            <option>Adulto</option>
            <option>Senior</option>
          </select>
          <input type="number" name="quantity" value="1">
          <a href="" class="btn-detail">Añadir al carrito</a>
          <h3>Info Nutricional</h3>
          <br>
          <p>Es un alimento completo y equilibrado, 100% húmedo que contiene suaves trocitos de carne de vaca cocidos al vapor con salsa.</p>
          <p>Formulado con proteínas de origen animal que ayudan a proporcionar los nutrientes que tu gato necesita todos los días para estar saludable.</p>
          <p>Cada porción contribuye con la vitalidad y energía necesarias para explorar el mundo! </p>
        </div>
      </div>
    </div>
    <div class="horizontalBlock horizontalBlock--yellow"></div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>