<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Crear producto!'}); %>
        <link rel="stylesheet" href="/css/adminProduct.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="crear-producto">
                <div class="form-content">
                    <h3>Crear Producto</h3>
                    <form action="crear-productos" method="POST" enctype="multipart/form-data">
                        <div class="contenedor">
                            <label for="id">
                            <span>ID del producto: </span>
                        <input type="text" name="id" id="id" autofocus></label>
                        </div>
                        <div class="contenedor">
                            <label for="name">
                            <span>Nombre del producto: </span>
                        <input type="text" name="name" id="name" autofocus></label>
                        </div>
                        <div class="contenedor">
                            <label for="price">
                            <span>Precio:</span>
                        <input type="number" name="price" id="price" placeholder="Ej. 4200.99"></label>
                        </div>

                        <div class="contenedor">
                            <label for="description">
                                <span>Descripción resumida:</span>
                            <textarea name="description" id="description"></textarea></label>
                            <label for="nutritional">
                                <span>Información nutricional:</span>
                            <textarea name="nutritional" id="nutritional"></textarea></label>
                        </div>
                        <div class="contenedor">
                            <span>Edad de tu mascota:</span><br>

                            <label for="product-cachorro">
                                <input type="checkbox" name="category" id="product-cachorro" value="Cachorro">
                                <span>Cachorro</span></label>

                            <label for="product-adulto">
                                <input type="checkbox" name="category" id="product-adulto" value="Adulto">
                                <span>Adulto</span>
                            </label>

                            <label for="product-senior">
                                <input type="checkbox" name="category" id="product-senior" value="Senior">
                                <span>Senior</span>
                            </label>
                        </div>
                        <div class="contenedor">
                            <span>Agregar una imagen:</span>
                            <div class="file-select">
                                <input type="file" name="image" id="ProductAddImage" accept="image/*"></input>
                            </div>
                        </div>
                        <div class="button-product">
                            <button type="submit">GUARDAR</button>
                        </div>
                        <div class="button-product">
                            <button type="reset">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="horizontalBlock horizontalBlock--yellow"></div>
        </main>
        <%- include('../partials/footer'); %>
</body>