<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Crear producto!'}); %>
        <link rel="stylesheet" href="/css/adminProduct.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="crear-producto">
                <div class="form-content">
                    <h3>Crear Producto</h3>
                    <form id="product" action="" method="POST">
                        <div class="contenedor">
                            <label for="name">
                            <span>Nombre del producto: </span>
                        <input type="text" name="name" id="name" autofocus></label>
                        </div>
                        <div class="contenedor">
                            <label for="price">
                            <span>Precio:</span>
                        <input type="number" name="price" id="price" placeholder="Ej. 4200.99"></label>
                        </div>

                        <div class="contenedor">
                            <label for="description">
                            <span>Descripción:</span>
                        <textarea name="description" id="description" placeholder="Descripción del producto"></textarea></label>
                        </div>
                        <div class="contenedor">
                            <span>Edad de tu mascota:</span><br>

                            <label for="product-cachorro">
                                <input type="checkbox" name="edad" id="product-cachorro" value="1">
                                <span>Cachorro</span></label>

                            <label for="product-adulto">
                                <input type="checkbox" name="edad" id="product-adulto" value="2">
                                <span>Adulto</span>
                            </label>

                            <label for="product-senior">
                                <input type="checkbox" name="edad" id="product-senior" value="3">
                                <span>Senior</span>
                            </label>
                        </div>
                        <div class="contenedor">
                            <span>Agregar una imagen:</span>
                            <div class="file-select">
                                <input type="file" name="image" id="ProductAddImage" accept="image/x-png,image/gif,image/jpeg"></input>
                            </div>
                        </div>
                        <div class="button-product">
                            <button type="submit">Agregar</button>
                            <button type="reset">Borrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="horizontalBlock horizontalBlock--yellow"></div>
        </main>
        <%- include('../partials/footer'); %>
</body>