<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Crear producto'}); %>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="container crear-producto">
                <div class="form-container">
                    <h1>Crear Producto</h1>
                    <form action="createProduct" method="POST" enctype="multipart/form-data">
                        <div class="field">
                            <label for="id">
                        <span>ID del producto</span>
                    <input type="text" name="id" id="id" autofocus required></label>
                        </div>
                        <div class="field">
                            <label for="name">
                        <span>Nombre del producto</span>
                    <input type="text" name="name" id="name" autofocus required></label>
                        </div>
                        <div class="field">
                            <label for="price">
                        <span>Precio</span>
                    <input type="number" name="price" id="price" placeholder="Ej. 4200.99" required></label>
                        </div>

                        <div class="field">
                            <label for="description">
                            <span>Descripción resumida</span>
                        <textarea name="description" id="description" placeholder="Es la descripción del producto en el home" required></textarea></label>
                            <label for="nutritional">
                            <span>Información nutricional</span>
                        <textarea name="nutritional" id="nutritional" placeholder="Es la info nutricional de detalle de producto" required></textarea></label>
                        </div>
                        <fieldset class="field">
                            <legend>Edad de tu mascota</legend>

                            <label for="product-cachorro">
                            <input type="checkbox" name="category" id="product-cachorro" value="Cachorro">
                            <span>Cachorro</span></label>

                            <label for="product-adulto">
                            <input type="checkbox" name="category" id="product-adulto" value="Adulto">
                            <span>Adulto</span>
                        </label>

                            <label for="product-senior">
                            <input type="checkbox" name="category" id="product-senior" value="Senior">
                            <span>Senior</span>
                        </label>
                        </fieldset>
                        <div class="field">
                            <div class="file-select">Agregar una imagen:
                                <div class="upload-image file-select">
                                    <label class="subirImagen" for="productAddImage">
                        <i class="fas fa-upload"></i>Click aquí</label>
                                </div>
                                <input type="file" name="image" id="productAddImage" accept="image/.jpg, .jpeg, .png" required>

                            </div>
                            <div class="button-product">
                                <button type="submit" class="button">Guardar</button>
                            </div>
                    </form>
                    </div>
                </div>
        </main>
        <%- include('../partials/footer'); %>
</body>