<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Editar producto!'}); %>
        <link rel="stylesheet" href="/css/adminProduct.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="crear-producto">
                <h2>Editando Producto</h2>
                <div class="form-content">
                    <form id="product" action="" method="POST">
                        <label for="name">Nombre del producto: </label>
                        <input type="text" name="name" id="name" autofocus>

                        <label for="price">Precio:</label>
                        <input type="number" min="0.00" max="1000000.00" step="0.01" name="price" id="price" placeholder="Ej. 4200.99">

                        <label for="description">Descripción:</label>
                        <textarea maxlength="500" name="description" id="description" cols="30" rows="5" placeholder="Descripción del producto (Hasta 500 caracteres)"></textarea>

                        <span>Edad de tu mascota:</span>
                        <div class="contenedor">

                            <input type="checkbox" name="edad" id="product-cachorro" value="1">
                            <label for="product-cachorro">Cachorro</label>

                            <input type="checkbox" name="edad" id="product-adulto" value="2">
                            <label for="product-adulto">Adulto</label>

                            <input type="checkbox" name="edad" id="product-senior" value="3">
                            <label for="product-senior">Senior</label>
                        </div>

                        <span>Agregar una imagen:</span>
                        <div class="contenedor">
                            <input type="file" name="image" id="ProductAddImage" accept="image/x-png,image/gif,image/jpeg"></input>
                        </div>
                        <button type="submit">Guardar cambios</button>
                    </form>
                </div>

                <div class="horizontalBlock horizontalBlock--yellow"></div>
        </main>
        <%- include('../partials/footer'); %>
</body>