<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head', {pageTitle: 'Meow!'}); %>
  <link rel="stylesheet" href="/css/productos.css">
  <link rel="stylesheet" href="/css/customers.css">
</head>

<body>
  <%- include('partials/header'); %>

  <main>
    <section class="portada">

      <div class="hero">
        <img src="/images/background.jpeg" alt="gato" class="hero-image">
        <div class="hero-description">
          <h1 class="title">Alimento real,<br>
            <span class="nobreak">para gatos reales 🐱</span></h1>
          <button><a class="button" href="/#productos">Quiero!</a></button>
        </div>
      </div>
    </section>
    <div class="horizontalBlock horizontalBlock--turquesa"></div>

    <!-- PRODUCTS -->
    <section id="productos">
      <h2>Nuestra Selección</h2>
      <div class="productos">
        <div class="card">
          <div class="card__body">
            <img src="/images/food/fish.jpeg" class="card__image">
          </div>
          <h2 class="card__title">Pescado</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__btn">Agregar</button>
        </div>
        <div class="card">
          <div class="card__body">
            <img src="/images/food/vegetarian.jpeg" class="card__image">
          </div>
          <h2 class="card__title">Vegetales</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__btn">Agregar</button>
        </div>
        <div class="card">
          <div class="card__body">
            <img src="/images/food/meat.jpeg" class="card__image">
          </div>
          <h2 class="card__title">Carne</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__btn">Agregar</button>
        </div>
        <div class="card">
          <div class="card__body">
            <img src="/images/food/salmon.jpeg" class="card__image">
          </div>
          <h2 class="card__title">Salmón</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__btn">Agregar</button>
        </div>
        <div class="card">
          <div class="card__body">
            <img src="/images/food/curry.jpeg" class="card__image">
          </div>
          <h2 class="card__title">Curry</h2>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__btn">Agregar</button>
        </div>
        
            <div class="card">
        <div class="card__body">
          <img src="/images/food/tuna.jpeg" class="card__image">
        </div>
        <h2 class="card__title">Atún</h2>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__btn">Agregar</button>
            </div>
      </div>
  </section>

  <div class="horizontalBlock horizontalBlock--pink"></div>
  <!-- CUSTOMERS -->
  <section id="customers" class="customers">
    <div class="customers-container">
      <div class="customers-card">
        <i class="fas fa-quote-left"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
        </p>
        <div class="card-customer">
          <img src="/images/customers/uno.png" alt="" class="customers-photo">
          <div class="customer-text">
            <p class="customers-name">Luciana</p>
            <p class="customers-city">Viedma</p>
          </div>
        </div>
      </div>

      <div class="customers-card">
        <i class="fas fa-quote-left"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
        </p>
        <div class="card-customer">
          <img src="/images/customers/dos.png" alt="" class="customers-photo">
          <div class="customer-text">
            <p class="customers-name">Maria</p>
            <p class="customers-city">Rosario</p>
          </div>
        </div>
      </div>

      <div class="customers-card">
        <i class="fas fa-quote-left"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
        </p>
        <div class="card-customer">
          <img src="/images/customers/tres.png" alt="" class="customers-photo">
          <div class="customer-text">
            <p class="customers-name">Pablo</p>
            <p class="customers-city">Mar del Plata</p>
          </div>
        </div>
      </div>

      <div class="customers-card">
        <i class="fas fa-quote-left"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
        </p>
        <div class="card-customer">
          <img src="/images/customers/uno.png" alt="" class="customers-photo">
          <div class="customer-text">
            <p class="customers-name">Luciana</p>
            <p class="customers-city">Viedma</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <div class="horizontalBlock horizontalBlock--yellow">
  </main>
  <footer id="contacto">
    <%- include('partials/footer'); %>
  </footer>
</body>

