<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso | Meow</title>
    <!--link con css hoja de estilo-->
</head>
<body>
    <div class="login-box">
        <h1>Bienvenido</h1>
        <h3>Ingrese a su cuenta</h3>
        <form>
        <!--email-->
        <label for="email">E-mail</label>
        <input type="email" placeholder="Ingresa tu email">
        
        <!--contraseña-->
        <label for="contraseña">Contraseña</label>
        <input type="password" placeholder="Ingresa tu contraseña">
        <input type="submit" value="Ingresar">
        <a href="#">¿Olvidaste tu contraseña?</a>
        <a href="#">¿No estás registrado?</a>
        </form>
    </div>
</body>
</html>
</body>
</html>