<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/login.css">
    <title>Login | Meow</title>
</head>
<body>
    <form action="/login" method="POST">
    <div class="contenedor">
        <h1>Bienvenido</h1>
        <h3>Ingrese a su cuenta</h3>
    <div class="input-contenedor">
        <label for="email">E-mail</label>
        <input type="email" name="email" placeholder="Ingresa tu email" required>
    </div>
    <div class="input-contenedor">
        <label for="contraseña">Contraseña</label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Ingresa tu contraseña" required>
    </div>
    <div class="input-contenedor">
        <button type="submit" value="Ingresar">Ingresar</button>
    </div>
    <div class="input-contenedor">
        <a href="#">¿Olvidaste tu contraseña?</a>
        <a href="#">¿No estás registrado?</a>
    </div>
    </div>
    </form>
</body>
</html>
</body>
</html>