<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <script src="https://kit.fontawesome.com/cd66ba717f.js" crossorigin="anonymous"></script>
    <title>Detalle de Producto</title>
</head>
<body>
    <header>
    </header>
    
    <main>
        <section>
            <div class="detail-container">
                <div class="img-container">
                  <img src="/images/productoCarne.jpg" alt="producto 1">
                </div>
              <div class="info-container">
                <h3>NOMBRE DEL PRODUCTO</h3>
                <h4>$$$$$$</h4>
              <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
                
                
          <div class="detail-container product-quantity">
            <label>Cantidad</label>
            <span class="product-quantity-left">-</span>
            <input class="input-field product-quantity-input" type="text" name="quantity" value="1">
            <span>+</span>
                </div>
               
                <a href="#" class="add-cart">Añadir al carrito</a>
              </div>
        </section>
    </main>

    <footer>
    </footer>
</body>
</html>