<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro | Meow</title>
</head>
<body>
    <form action="/registro" method="POST"></form>
    <div class="contenedor">
    <h1>Registrate</h1>
    <h3>Crea tu cuenta para disfrutar de nuestros productos</h3>
    <div class="input-contenedor">
        <span class="titulo"><label for="nombre">Nombre:</label></span>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
    </div>
    <div class="input-contenedor">
        <span class="titulo"><label for="email">E-mail:</label></span>
        <input type="email" name="e-mail" id="email"placeholder="E-mail" required>
    </div>
    <div class="input-contenedor">    
        <span class="titulo"><label for="contraseña">Contraseña:</label></span>
        <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña"required>
    </div>
    <div class="input-contenedor">
        <span class="titulo"><label for="confirmar-contraseña">Confirma tu contraseña</label></span>
        <input type="password" name="confirmar-contraseña" id="confirmar-contraseña" placeholder="Confirma tu contraseña" required>
    </div>
    <div class="input-contenedor">
        <input type="checkbox" name="mailing" class="checkbox">
        <label for="mailing" class="news">Quiero suscribirme a las novedades</label>
    </div>
    <div class="input-contenedor">
        <button type="submit" value="Ingresar">Ingresar</button>
    </div>
    <div class="input-contenedor">
        <h4 id="registrado">¿Ya tienes una cuenta?<a class="link" href="login.html"></a></h4>
    </div>
    </form>
</body>
</html>