.form-container {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

h1 {
  font-size: 1.3rem;
}

.login-form {
  max-width: 300px;
  padding: 2rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  --color-primary: #61b69b;
  --color-accent: #FED8D2;
  font-family: 'Montserrat', sans-serif;
}

.login-form a {
  display: block;
  font-size: .7rem;
  margin-top: .3rem;
  color: grey;
  transition: all 200ms;
}

.login-form a:hover {
  color: var(--color-primary)
}

label, 
button, 
input {
  display: block;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  width: 100%;
} 

label, 
button {
  margin-top: 1rem;
}

input {
  border-bottom: 1px solid rgba(128, 128, 128, 0.644);
  margin-top: .3rem;
  font-size: .9rem;
}

form button {
  cursor: url(https://static1.squarespace.com/static/5ff8e4d66bbc7c345298e9e3/t/600e3f527ee73853fed80720/1611546450815/paw.pnghttps://static1.squarespace.com/static/5ff8e4d66bbc7c345298e9e3/t/600e201ac6ff83514535e1ce/1611538458484/SMALLS_SMALLSWEAR_STICKERS-12.png),auto;
  background-color: var(--color-primary);
  border-radius: .4rem;
  padding-top: .4rem;
  padding-bottom: .5rem;
  color: #fff;
  transition: all 200ms;
}

form button:hover {
  color: var(--color-primary);
  background-color: #fff;
  border: 1px solid var(--color-primary);;
}
