* {
    box-sizing: border-box;
}
@media(max-width:768px){      
    body {
    background-color: white;
    }
}
body{
    font-family: 'Quicksand', sans-serif;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 1rem;
}
h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 18px;
}
h4{
    font-size: 12px;
}
form{
    padding: 3px;
    margin-top: 3rem;
    margin-bottom: 0;
}
.contenedor{
    width: 90vw;
    height: 90vh;
    text-align: center;
    padding: 15px;
}
.input-contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 15px;
    text-align: center;
    line-height: 2rem;
    margin-left: 25%;
}
.email, .contraseña{
    font-size: 13px;
    width: 70%;
    font-family: 'Quicksand', sans-serif;
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
input{
    border:2px solid #cac2bc;
    border-radius: 10px;
    background: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 6px 12px;
    width: 70%;
}
.input-ingreso{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.boton button{
    font-family: 'Quicksand', sans-serif;
    border-color: #ffda51;
    background-color: #ffda51;
    color: black;
    text-transform: none;
    border-width: 0;
    border-radius: 40px;
    font-weight: bold;
    font-size: 16px;
    font-style:normal;
    line-height: 16px;
    text-align: center;
    margin: 1rem auto;
    padding: 10px;
    width: 100%;
}
.input-olvido-registrado{
    display: flex;
    justify-content: center;
}
.olvido-registrado{
    margin-bottom: 1rem;
    color: #121212;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: .01em;
    text-align: center;
}
.olvido, .registrado{
    color: #121212;
    text-decoration: none;
    text-align: center;

}
