:root {
  --color-primary: #8fd9c1;
  --color-accent: #ffe95a;
  --color-accentTwo: #fed8d2;

  --color-font: #000;
  --color-fontLight: #999;
  --ff-primary: "Montserrat", sans-serif;
  --ff-accent: "Work Sans", sans-serif;

  --backgroundHeader-color: #f0ece5;
  --headerHeight: 4rem;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: var(--headerHeight);
  min-height: 100%;
  flex-grow: 1;
}

.container {
  width: calc(100vw - 3rem);
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

section:first-child {
  margin: 0;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.horizontalBlock {
  height: 30px;
  width: 100%;
  margin-top: auto;
}

.horizontalBlock--turquesa {
  background-color: var(--color-primary);
}

.horizontalBlock--yellow {
  background-color: var(--color-accent);
}

.horizontalBlock--pink {
  background-color: var(--color-accentTwo);
  margin-top: 2rem;
}

#productos,
#customers {
  scroll-margin-top: 2rem;
}

/* ********** PORTADA ********** */
.portada {
  position: relative;
  font-size: 1rem;
}

.hero {
  position: relative;
  height: calc(100vh - var(--headerHeight));
  max-height: 786px;
  overflow: hidden;
  background-image: url(../images/background.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.hero-description {
  position: absolute;
  color: var(--color-font);
  padding: 1rem;
  width: 75%;
  max-width: 450px;
  top: 10%;
  left: 5%;
  font-family: var(--ff-primary);
  font-size: 1em;
}

.hero-description p {
  margin-top: 0.5rem;
}

/* adds transitions to all buttons, links and form elements */
a, button, input, textarea, select,
a img, button img,
a::before, a::after, button::before, button::after {
  transition: all 0.15s ease-in;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* ********** Buttons and links ********** */
.button {
  display: inline-block;
  padding: 0.6em 2em;
  color: #FFF;
  background-color: var(--color-font);
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 3rem;
}

.button:hover,
.button:focus {
  color: var(--color-font);
  background-color: var(--color-accent);
}

.button--accent {
  background-color: var(--color-accent);
  color: var(--color-font);
}

.button--accent:hover,
.button--accent:focus {
  background-color: var(--color-accentTwo);
  color: var(--color-font);
}

.button__icon {
  display: inline-block;
  height: 1em;
  font-size: inherit;
  margin-right: 1em;
  vertical-align: -0.125em;
}

.icon-link {
  display: block;
}

.icon-link img {
  display: inline-block;
  opacity: .5;
  height: 1em;
  vertical-align: middle;
}

.icon-link:hover img,
.icon-link:focus img {
  opacity: 1;
}

.nobreak {
  white-space: nowrap;
}

/* ********** FOOTER ********** */
.footer {
  font-family: var(--ff-accent);
}

.footer h4 {
  font-size: 1rem;
  color: var(--color-fontLight);
  margin-bottom: 1rem;
}

.footer-list {
  margin: 0;
  padding: 0;
}

.footer-list--social-media {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer-link {
  display: block;
  padding: 0.25rem 0.75rem 0.25rem 2.5rem;
  position: relative;
  color: var(--color-fontLight);
}

.footer-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 1rem;
  height: 0.25rem;
  left: 0;
  top: calc(50% - 0.25rem);
  background-color: var(--color-accentTwo);
}

.footer-link:hover,
.footer-link:focus {
  padding-left: 3rem;
  padding-right: .25rem;
  color: var(--color-font);
}

.footer-nav {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* ********** media queries ********** */
@media screen and (min-width: 400px) {
  .footer-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .portada {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 968px) {
  .portada {
    font-size: 1.6rem;
  }
}
