:root {
  --color-primary: #8FD9C1;
  --color-accent: #FFE95A;
  --color-accentTwo: #FED8D2;

  --color-font: #000;
  --color-fontLight: #999;
  --ff-primary: 'Montserrat', sans-serif;
  --ff-accent: 'Work Sans', sans-serif;

  --headerHeight: 4rem;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: var(--headerHeight);
  min-height: 100%;
  flex-grow: 1;
}

section:first-child {
  margin: 0;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.horizontalBlock {
  height: 30px;
  width: 100%;
  margin-top: auto;
}

.horizontalBlock--turquesa {
  background-color: var(--color-primary);
}

.horizontalBlock--yellow {
  background-color: var(--color-accent);
}

.horizontalBlock--pink {
  background-color: var(--color-accentTwo);
  margin-top: 2rem;
}

#productos, 
#customers {
  scroll-margin-top: 2rem;
}

/* ********** PORTADA ********** */
section .portada {
  position: relative;
  font-size: 1rem;
}

.hero {
  position: relative;
  height: calc(100vh - var(--headerHeight));
  max-height: 786px;
  overflow: hidden;
  background-image: url(../images/background.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.hero-description {
  position: absolute;
  color: var(--color-font);
  padding: 1rem;
  width: 75%;
  max-width: 450px;
  top: 10%;
  left: 5%;
  font-family: var(--ff-primary);
  font-size: 1em;
}

.hero-description p {
  margin-top: .5rem;
}

.button {
  display: inline-block;
  padding: .6em 2em;
  color: whitesmoke;
  background-color: var(--color-font);
  cursor: pointer;
  transition: all 200ms;
  margin-top: .5rem;
  outline: 0;
  border: 0;
}

.button:hover,
.button:focus {
  color: var(--color-font);
  background-color: whitesmoke;
}

.nobreak {
  white-space: nowrap;
}

/* ********** FOOTER ********** */
footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-family: var(--ff-accent);
}

footer h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

footer ul {
  margin: 0;
  padding: 0;
}

.footer-link {
  display: block;
  padding: .25rem .25rem .25rem 2.5rem;
  position: relative;
  color: var(--color-fontLight);
  transition: all 200ms;
}

.footer-link::before {
  content: ''; 
  display: block;
  position: absolute;
  width: 1rem;
  height: .25rem;
  left: 0;
  top: calc(50% - .25rem);
  background-color: var(--color-accentTwo);
  transition: all 200ms;
}

.footer-link:hover,
.footer-link:focus {
  padding-left: 3rem;
  color: var(--color-font);
}


.footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.col-one {
  margin-bottom: 2rem;
  padding-left: .5rem;

}

.col-two {
  margin-bottom: 1rem;
  padding-left: .5rem;
}

.col-three {
  margin-top: 3rem;
}

.col-three ul {
  display: flex;
  justify-content: space-around;
}

/* ********** media queries ********** */
@media screen and (min-width: 768px) {
  .portada {
    font-size: 1.5rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .col-three ul {
    justify-content: space-around;
  }

  .col-three ul li{
    margin-right: 2rem;
  }

}

@media screen and (min-width: 968px) {
  .portada {
    font-size: 1.6rem;
  }

  footer .link:hover {
    background-color: var(--color-accent);
    color: var(--color-font);
  }
}

