<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head', {pageTitle: 'Meow!'}); %>
  <link rel="stylesheet" href="/css/404.css">
</head>
<body>
  <%- include('partials/header'); %>
  <main>
    <div class="main-container">
      <h1>Ups!</h1>
      <p>Parece que nadie está…</p>
      <a class="button" href="/">Home</a>
    </div>
  </main>
  <%- include('partials/footer'); %>
</body>

