<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head', {pageTitle: 'Meow!'}); %>
</head>
<body>
    <%- include('partials/header'); %>
<main>
    <div class="container container-aboutus">
        <div class="box">
            <h1 class="box-title">Nosotros</h1>
            <div class="imagen">

            </div>
            <p class="box-text">
                En Meow, el bienestar de nuestros amigos felinos es nuestra prioridad.
                En el mercado de alimentos para mascotas, la salud siempre ha venido después del costo, la conveniencia y las modas de marketing.
                No en Meow.
                Nosotros dejamos a un lado los grandes márgenes de ganancia y las falsificaciones en favor de lo que realmente nuestras mascotas necesitan, anhelan y merecen.
                Nuestra misión es ofrecer la experiencia del cliente que nunca obtuvimos, la educación que más deseamos y una comunidad de amigos con intereses comunes.
            </p>
        </div>
        <div class="box">
            <h2 class="box-title">Nuestra Cultura</h2>
            <div class="box-imagen">

            </div>
            <p class="box-text">
                Se puede trabajar de manera diferente a como siempre se ha hecho antes. Los valores que nos guían no son solo carteles bonitos, estamos orgullosos de cómo interactuamos con nuestros clientes y entre nosotros todos los días. Nuestras oficinas son pet-friendly y ellos son también parte de esto. Estamos convencidos que nuestros productos realmente mejoran la calidad de vida de nuestras mascotas y por eso hacemos nuestro trabajo en equipo y con gran satisfacción.
            </p>
        </div>
        <!-- <div class="box">
            <h2>Nuestro Equipo</h2>
            <div class="box-imagen"></div>
            <p>

            </p>
        </div> -->
    </div>
<!--
Sobre Nosotr

Nuestro equipo

Natalia Krivanek
Socia principal y fundadora
Es propietaria de una chacra en la localidad de Los Cardales. Administra una granja orgánica y sustentable desde 2007.  Es de allí de donde proviene la materia prima para la elaboración de nuestros productos.
Mariano Gimenez
Experto médico
Es veterinario y es miembro activo de la Fundación Argentina de Rescate Animal.  Ha publicado varios artículos científicos sobre nutrición de animales de compañía.
Analía Maidana
Marketing digital y atención al cliente
Se asegura que nuestros productos satisfagan los paladares exigentes de nuestros amigos felinos. Desarrolla el contenido y el soporte de nuestra comunidad y canaliza las optimizaciones y mejoras que señalan nuestros clientes.

-->    

</main>
<%- include('partials/footer'); %>
</body>