<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head', {pageTitle: 'Productos!'}); %>
  <link rel="stylesheet" href="/css/productCart.css">
</head>

<body>
  <%- include('partials/header') %>
  <main>
  <section>
    <div class="small-container cart-page">
      <h3 class="page-title">Detalle de Items</h3>
      <form action="#" method="post">
        <table class="product-item">
          <tr>
            <th></th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          <tr class="product-n">
            <td>
              <a href=""><img src="/images/trash.svg"></a>
            </td>
            <td>
              <div class="cart-info">
                <img src="/images/food/salmon.jpeg" alt="salmon">
                <div>
                  <p>Salmón</p>
                  <small>Sabrosos trocitos de salmón horneado a fuego lento, que tu gato no podrá resistirse.</small>
                </div>
              </div>
            </td>
            <td>
              <div class="cart-info">
                <input type="number" value="1" name="cantidad">
              </div>
            </td>
            <td>$500</td>
          </tr>
          <tr class="product-n">
            <td>
              <a href=""><img src="/images/trash.svg"></a>
            </td>
            <td>
              <div class="cart-info">
                <img src="/images/food/meat.jpeg" alt="carne">
                <div>
                  <p>Carne</p>
                  <small>Suaves trocitos de la mejor carne de vaca cocidos al vapor con salsa, 100% húmedo y sabroso!</small>
                </div>
              </div>
            </td>
            <td>
              <div class="cart-info">
                <input type="number" value="1" name="cantidad">
              </div>
            </td>
            <td>$500</td>
          </tr>
        </table>

        <div class="total-price">
          <table>
            <tr>
              <td>Total a pagar</td>
              <td>$1.000</td>
            </tr>
          </table>

        </div>
        <div class="small-container cart-paid">
          <h4 class="page-subtitle">Método de Pago</h4>
          <label><input type="radio" name="mercadoPago"><img src="/images/mercado-pago.png"></label>
        </div>
        <div class="button-cart">
        <button class="button-checkout" type="submit" name="checkout" value="pagar">pagar</button>
        </div>
      
      </form>

    </div>
    </section>
    <div class="horizontalBlock horizontalBlock--yellow"></div>
      </main>
  <footer>
    <%- include('partials/footer'); %>
  </footer>
</body>