<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head', {pageTitle: 'Meow!'}); %>
        <link rel="stylesheet" href="/css/homeProductos.css">
        <link rel="stylesheet" href="/css/homeClientes.css">
</head>

<body>
        <%- include('partials/header'); %>
        <main>
            <section id="portada" class="portada">
                <div class="hero">
                    <img src="/images/background.jpeg" alt="gato" class="hero-image">
                    <div class="hero-description">
                        <h1 class="title">Alimento real,<br>
                            <span class="nobreak">para gatos reales 🐱</span></h1>
                        <button><a class="button" href="/#productos">Quiero!</a></button>
                    </div>
                </div>
            </section>
            <div class="horizontalBlock horizontalBlock--turquesa"></div>

            <!-- PRODUCTS -->
            <section id="productos">
                <h2>Nuestra Selección</h2>
                <div class="productos">

                    <div class="card">
                          <img src="/images/food/pescado.jpeg" class="card__image">
                        <div class="card__text-container">
                          <h3 class="card__text title">Pescado</h3>
                          <p class="card__text description">Trocitos de la mejor variedad de pescados con una deliciosa salsa ligera, 100% húmedo y sabroso!</p>
                          <div class="card__text-btn-container">
                            <p class="card__text price">$11.00</p>
                            <button class="card__text btn"><img src="/images/plus.png" alt=""></button>
                          </div>
                        </div>
                    </div>

                    <div class="card">
                          <img src="/images/food/vegetariano.jpeg" class="card__image">
                        <div class="card__text-container">
                          <h3 class="card__text title">Vegetales</h3>
                          <p class="card__text description">La mejor selección de vegetales para lograr un balance perfecto en la alimentación de tu gato.</p>
                          <div class="card__text-btn-container">
                            <p class="card__text price">$12.00</p>
                            <button class="card__text btn"><img src="/images/plus.png" alt=""></button>
                          </div>
                        </div>
                    </div>

                    <div class="card">
                          <img src="/images/food/carne.jpeg" class="card__image">
                        <div class="card__text-container">
                          <h3 class="card__text title">Carne</h3>
                          <p class="card__text description">Suaves trocitos de la mejor carne de vaca cocidos al vapor con salsa, 100% húmedo y sabroso!</p>
                          <div class="card__text-btn-container">
                            <p class="card__text price">$19.00</p>
                            <button class="card__text btn"><img src="/images/plus.png" alt=""></button>
                          </div>
                        </div>
                    </div>

                    <div class="card">
                          <img src="/images/food/salmon2.jpeg" class="card__image">
                        <div class="card__text-container">
                          <h3 class="card__text title">Pescado</h3>
                          <p class="card__text description">Trocitos de la mejor variedad de pescados con una deliciosa salsa ligera, 100% húmedo y sabroso!</p>
                          <div class="card__text-btn-container">
                            <p class="card__text price">$15.00</p>
                            <button class="card__text btn"><img src="/images/plus.png" alt=""></button>
                          </div>
                        </div>
                    </div>

                    <div class="card">
                          <img src="/images/food/pollo.jpeg" class="card__image">
                        <div class="card__text-container">
                          <h3 class="card__text title">Pollo</h3>
                          <p class="card__text description">Deliciosos trocitos de pollo con abundante salsa, para que tu gato disfrute en cualquier momento.</p>
                          <div class="card__text-btn-container">
                            <p class="card__text price">$18.00</p>
                            <button class="card__text btn"><img src="/images/plus.png" alt=""></button>
                          </div>
                        </div>
                    </div>

                    <div class="card">
                      <img src="/images/food/atun.jpeg" class="card__image">
                      <div class="card__text-container">
                          <h3 class="card__text title">Atún</h3>
                          <p class="card__text description">Delicados trozos de atún con una deliciosa salsa, ideal para aquellos que tienen el paladar exigente.</p>
                          <div class="card__text-btn-container">
                            <p class="card__text price">$19.00</p>
                            <button class="card__text btn"><img src="/images/plus.png" alt=""></button>
                          </div>
                      </div>
                    </div>
                </div>
            </section>

            <div class="horizontalBlock horizontalBlock--pink"></div>
            <!-- CUSTOMERS -->
            <section id="customers" class="customers">
                <h2 class="title-clientes">Clientes felices</h2>

                <div class="customers-container">
                  <img src="/images/customers/quote-yellow.png" alt="">
                    <div class="customers-card">
                        <p>¡Amamos a Meow! Realmente es el mejor alimento que puedo darle a mi gato. Hace una semana, fuimos a una cita de control con el veterinario. Se mostró sorprendido por lo saludable que está Coco y por lo increíble que se ve su pelaje.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/uno.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Luciana & Coco</p>
                                <p class="customers-city">Viedma</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Los problemas gastrointestinales de Greta han desaparecido prácticamente, ha recuperado el peso que perdió y su pelaje irregular está empezando a llenarse un poco. ¡Estoy agradecida de haberlos encontrado!
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/dos.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Maria & Greta</p>
                                <p class="customers-city">Rosario</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Los diferentes sabores no solo huelen diferente, sino que puedes ver los diferentes ingredientes. Puedes ver la comida con la que fue hecha. No hay forma de que podamos volver a la pasta enlatada o a las croquetas de supermercado.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/tres.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Pablo & Felix</p>
                                <p class="customers-city">Mar del Plata</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Mi gato ama tanto a Meow que prácticamente parece cantar cuando es hora de comer. Su cita con el veterinario el mes pasado fue genial. La veterinaria comentó lo delgado y musculoso que se ve desde que dejó la comida enlatada.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/cuatro.jpg" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Laila & Charlie</p>
                                <p class="customers-city">La Plata</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>A mi gata le encantan las golosinas de pollo. Recomendaría Meow porque la comida es de excelente calidad y el servicio al cliente es excelente. ¡Súper conveniente para todos!
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/cinco.jpg" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Julia & Cloe</p>
                                <p class="customers-city">Córdoba</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>A mi gato le encanta su comida y su pelaje está más bonito y brillante que nunca. Estoy muy satisfecho con Meow.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/seis.jpg" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Juan & Odín</p>
                                <p class="customers-city">Mendoza</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <div class="horizontalBlock horizontalBlock--yellow">
        </main>
        <footer id="contacto">
            <%- include('partials/footer'); %>
        </footer>
</body>