<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head', {pageTitle: 'Meow!'}); %>
        <link rel="stylesheet" href="/css/homeProductos.css">
        <link rel="stylesheet" href="/css/homeClientes.css">
</head>

<body>
        <%- include('partials/header'); %>
        <main>
            <section id="portada" class="portada">
                <div class="hero">
                    <img src="/images/background.jpeg" alt="gato" class="hero-image">
                    <div class="hero-description">
                        <h1 class="title">Alimento real,<br>
                            <span class="nobreak">para gatos reales </span></h1>
                        <button><a class="button" href="/#productos">Quiero!</a></button>
                    </div>
                </div>
            </section>
            <div class="horizontalBlock horizontalBlock--turquesa"></div>

            <!-- PRODUCTS -->
            <section id="productos">
                <h2>Nuestra Selecci贸n</h2>
                <div class="productos">
                    <div class="card">
                        <div class="card__body">
                            <img src="/images/food/pescado.jpeg" class="card__image">
                        </div>
                        <h3 class="card__title">Pescado</h3>
                        <p class="card__description">Trocitos de la mejor variedad de pescados con una deliciosa salsa ligera, 100% h煤medo y sabroso!</p>
                        <button class="card__btn"><a href="/productos/pescado">Agregar</a></button>
                    </div>
                    <div class="card">
                        <div class="card__body">
                            <img src="/images/food/vegetariano.jpeg" class="card__image">
                        </div>
                        <h3 class="card__title">Vegetales</h3>
                        <p class="card__description">La mejor selecci贸n de vegetales para lograr un balance perfecto en la alimentaci贸n de tu gato.</p>
                        <button class="card__btn"><a href="/productos/vegetariano">Agregar</a></button>
                    </div>
                    <div class="card">
                        <div class="card__body">
                            <img src="/images/food/carne.jpeg" class="card__image">
                        </div>
                        <h3 class="card__title">Carne</h3>
                        <p class="card__description">Suaves trocitos de la mejor carne de vaca cocidos al vapor con salsa, 100% h煤medo y sabroso!</p>
                        <button class="card__btn"><a href="/productos/carne">Agregar</a></button>
                    </div>
                    <div class="card">
                        <div class="card__body">
                            <img src="/images/food/salmon.jpeg" class="card__image">
                        </div>
                        <h3 class="card__title">Salm贸n</h3>
                        <p class="card__description">Sabrosos trocitos de salm贸n horneado a fuego lento, que tu gato no podr谩 resistirse.</p>
                        <button class="card__btn"><a href="/productos/salmon">Agregar</a></button>
                    </div>
                    <div class="card">
                        <div class="card__body">
                            <img src="/images/food/pollo.jpeg" class="card__image">
                        </div>
                        <h3 class="card__title">Pollo</h3>
                        <p class="card__description">Deliciosos trocitos de pollo con abundante salsa, para que tu gato disfrute en cualquier momento.</p>
                        <button class="card__btn"><a href="/productos/pollo">Agregar</a></button>
                    </div>

                    <div class="card">
                        <div class="card__body">
                            <img src="/images/food/atun.jpeg" class="card__image">
                        </div>
                        <h3 class="card__title">At煤n</h3>
                        <p class="card__description">Delicados trozos de at煤n con una deliciosa salsa, ideal para aquellos que tienen el paladar exigente.</p>
                        <button class="card__btn"><a href="/productos/atun">Agregar</a></button>
                    </div>
                </div>
            </section>

            <div class="horizontalBlock horizontalBlock--pink"></div>
            <!-- CUSTOMERS -->
            <section id="customers" class="customers">
                <h2>Clientes felices</h2>
                <div class="customers-container">
                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/uno.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Luciana</p>
                                <p class="customers-city">Viedma</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/dos.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Maria</p>
                                <p class="customers-city">Rosario</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/tres.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Pablo</p>
                                <p class="customers-city">Mar del Plata</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/uno.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Luciana</p>
                                <p class="customers-city">Viedma</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/tres.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Pablo</p>
                                <p class="customers-city">Mar del Plata</p>
                            </div>
                        </div>
                    </div>

                    <div class="customers-card">
                        <i class="fas fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab a obcaecati.
                        </p>
                        <div class="card-customer">
                            <img src="/images/customers/tres.png" alt="" class="customers-photo">
                            <div class="customer-text">
                                <p class="customers-name">Pablo</p>
                                <p class="customers-city">Mar del Plata</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <div class="horizontalBlock horizontalBlock--yellow">
        </main>
        <footer id="contacto">
            <%- include('partials/footer'); %>
        </footer>
</body>