<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head', {pageTitle: 'Meow!'}); %>
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <%- include('partials/header') %>
  <main>
    <form action="/login" method="POST">
      <h1>Bienvenid@</h1>
      <div class="field">
        <label for="email">
          <span>Email:</span>
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <input type="email" id="email" name="usermail" required>
      </div>
      <div class="field">
        <label for="contraseña">
          <span>Contraseña:</span>
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <input type="password" name="contraseña" id="contraseña" required>
      </div>
      <div class=""><
            button type="submit" value="Ingresar"><a href="/views/home.ejs"></a>Ingresar</></div>
      </div>
      <div class="input-olvido-registrado">
          <div class="olvido-registrado">
          <a class="olvido" href="#">¿Olvidaste tu contraseña?</a>
          <br>
          <a class="registrado" href="/views/register.html">¿No estás registrado?</a>
          </div>
      </div>
      </form>
  </main>
  <%- include('partials/footer'); %>
</body>