<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head', {pageTitle: 'Meow!'}); %>
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <%- include('partials/header') %>
  <main>
      <div class="form-container">
        <form class="login-form" action="/login" method="POST">
          <h1>Bienvenid@</h1>
          <div class="field">
            <label for="email">
              <span>Email:</span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="email" id="email" name="usermail" required>
          </div>
          <div class="field">
            <label for="contraseña">
              <span>Contraseña:</span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="password" name="contraseña" id="contraseña" required>
            <p><a class="olvido" href="#">¿Olvidaste tu contraseña?</a></p>
          </div>
          <div class="form-btn">
            <button type="submit" value="Ingresar">Ingresar</button>
          </div>
          <p><a class="registrado" href="/registro">¿No estás registrado?</a></p>
          </form>
      </div>
    <div class="horizontalBlock horizontalBlock--yellow"></div>
  </main>
  
  <%- include('partials/footer'); %>
</body>