<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head', {pageTitle: 'Meow!'}); %>
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <%- include('partials/header'); %>
  <main>
    <div class="form-container">
        <form class= "register-form" action="/registro" method="POST">
            <h1>Registrate</h1>
            <div class="field">
                <label for="name">
                    <span>Nombre y Apellido:</span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="field">
                <label for="email">
                    <span>E-mail:</span>
                    <strong><abbr title="required">*</abbr></strong>
                </label> 
                <input type="email" name="email" id="email" required>
            </div>
            <div class="field">
                <label for="password">
                    <span>Contraseña:</span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>     
                <input type="password" name="password" id="password" required>
            </div>
            <div class="field">
                <label for="confirmar-contraseña">
                    <span>Confirmar contraseña:</span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="password" name="confirmar-contraseña" id="confirmar-contraseña" required>
            </div>
            <div class="field">
                <label>Imagen de Perfil:
                <div class="file-select">
                    <input type="file" name="image" id="userAddImage" accept="image/x-png,image/gif,image/jpeg"></input>
            </div>
            <div class="field-checkbox">
                <div class="field-checkbox-hija"><input type="checkbox" name="mailing" id="mailing" class="checkbox"></div>
                <div class="field-checkbox-hija"><p><a class="registrado">Quiero suscribirme a las novedades</a></p></div>
            </div>
            <div class="form-btn">
                <button type="submit" value="Ingresar">Ingresar<a href="/src/views/home.ejs"></a></button>
            </div>
            <p><a href="/login" class="registrado">¿Ya tienes una cuenta?</a></p>
        </form>
    </div>
    <div class="horizontalBlock horizontalBlock--yellow"></div>
  </main>
  <%- include('partials/footer'); %>
</body>