<header>
      <div class="container container-nav">
        <nav>
          <button class="nav-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>
          <ul class="nav-menu">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/#productos" class="nav-link">Productos</a></li>
            <li class="nav-item"><a href="/carrito" class="nav-link">Carrito</a></li>
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="/registro" class="nav-link">Register</a></li>
          </ul>
        </nav>
    
        <a href="/" class="logo" title="meow home">
          <img src="/images/logo.svg" alt="logo de meow" width="80" height="28">
        </a>

        <div class="carrito"><img src="/images/carrito.png" alt="carrito compras" class="carrito-icon"></div>
      </div>
</header>