<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Meow!'}); %>
        <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="form-container">
                <form class="login-form" action="/users/login" method="POST">
                    <h1>Bienvenid@</h1>
                    <div class="field">
                        <label for="email">
              <span>Email:</span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
                        <input type="email" id="email" name="email" required>
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="field">
                        <label for="contraseña">
              <span>Contraseña:</span>
              <strong><abbr title="required">*</abbr></strong>
            </label>
                        <input type="password" name="password" id="password" required>
                        <p><a class="olvido" href="/src/views/users/password.ejs">¿Olvidaste tu contraseña?</a></p>
                    </div>
                    <div class="field-checkbox">

                        <div class="field-checkbox-hija"><input type="checkbox" name="rememberUser" id="rememberUser" class="checkbox"></div>
                        <div class="field-checkbox-hija">
                            <p><a class="rememberUser">Recordar mi usuario</a></p>
                        </div>
                    </div>

                    <div class="form-btn">
                        <button type="submit" value="Ingresar">Ingresar</button>
                    </div>
                    <p><a class="registrado" href="/users/register">¿No estás registrado?</a></p>
                </form>
            </div>
            <!-- <div class="horizontalBlock horizontalBlock--yellow"></div> -->
        </main>

        <%- include('../partials/footer'); %>
</body>